h1 Index Action

/- sharing_tags.google.tap do |google|
/  h2 Google
/  table
/    tr
/      td Title
/      td= google.title
/    tr
/      td Description
/      td= google.description
/    tr
/      td Share url
/      td= google.share_url
/
/== sharing_tags.inspect