@mixin transform_scale($scale)
  -webkit-transform: $scale
  -moz-transform: $scale
  -ms-transform: $scale
  -o-transform: $scale
  transform: $scale

@mixin create_keyframes_animation($name, $left_percent, $center_percent, $right_precent)
  +keyframes($name)
    0%
      +transform_scale(1)
    #{$left_percent}%
      +transform_scale(1)
    #{$center_percent}%
      +transform_scale(1.4)
    #{$right_precent}%
      +transform_scale(1)
    100%
      +transform_scale(1)

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes  #{$name}
    @content
  @-o-keyframes  #{$name}
    @content
  @keyframes  #{$name}
    @content

@mixin animation($index, $speed)
  -webkit-animation: animate_sharing_buttons_#{$index} #{$speed}s infinite
  -moz-animation: animate_sharing_buttons_#{$index} #{$speed}s infinite
  -o-animation: animate_sharing_buttons_#{$index} #{$speed}s infinite
  animation: animate_sharing_buttons_#{$index} #{$speed}s infinite

@mixin add_animation_on_sharing_button($index, $speed)
  .sharing_tags-buttons__item
    &:nth-child(#{$index})
      a
        +animation($index, $speed)

@mixin create_wave_animation_on_sharing_buttons($count_of_buttons, $speed:2)
  $step: 100 / $count_of_buttons
  $half_step: $step / 2
  @for $i from 1 through $count_of_buttons
    $right: $i*$step
    $center: $right - $half_step
    $left: $center - $half_step

    +create_keyframes_animation('animate_sharing_buttons_#{$i}', $left, $center, $right)
    +add_animation_on_sharing_button($i, $speed)
