.sharing_tags-buttons
  list-style-type: none
  padding: 0px
  margin: 0px
  display: inline-block

  &__item
    float: left
    margin-right: 19px

    &:last-child
      margin-right: 0

    a
      cursor: pointer
      display: inline-block
      vertical-align: middle
      text-align: center
      font-size: 0
      width: auto

      &:hover
        opacity: 0.8

.sharing_tags-buttons__icon
  background:
    size: cover
    clip: content-box
    repeat: no-repeat
  display: inline-block
  width: 77px
  height: 77px
