.sharing_tags-buttons
  list-style-type: none
  padding: 0px
  margin: 0px

  &__item
    float: left

    img
      display: inline-block

    a
      display: inline-block
      vertical-align: middle
      text-align: center
      font-size: 0
      width: auto

      &:hover
        opacity: 0.8
