meta property="og:title"         content=meta.title
meta property="og:description"   content=meta.description
meta property="og:image"         content=meta.image
meta property="og:url"           content=meta.page_url

/https://developers.facebook.com/docs/sharing/opengraph#types
meta property="og:type" content="website"

/meta property="og:image:type"   content="image/jpeg"
/meta property="og:image:width"  content="470"
/meta property="og:image:height" content="265"
